.Chat-container {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  height: 50vh;
  overflow: scroll;
  margin: 40px auto 20px auto;
  border-radius: .25rem;
  padding: 10px;
}
.Chat-container ul {
  margin: 0;
  padding: 0;

}
.Chat-container ul>li {
  list-style: none;
  padding: 5px;
  text-align: left;
}

.Chat-auth {
  margin-top: 40px;
}

.Chat-login {
  background-color: #C8CFD6;
  padding: 40px;
  border-radius: 4px;
}

.Chat-register {
  padding: 40px;
}

.Chat-contact {
  margin-top: 40px;
}

.Chat-contact > .list-group {
  margin-bottom: 15px;
}